
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    height: 88px;
    background-color:rgb(18,18,62) ;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0px 23px;
}
nav ul li a:hover{
    color:rgb(153,153,226);
    font-size: 1.1rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.left{
    font-size:1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
}
.firstsection > div{
    width:30%;
}

.leftsection{
    font-size: 1.9rem;
}
.leftsection .buttons{
    padding:60px 0px;

}
.leftsection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border:2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftsection .btn1 a {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border:2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftsection .btn1 a{
    text-decoration: none;
}
.rightsection img{
    width:60%;
    border-radius:50px;
    border: 10px solid rgb(170,107,228);
}
.social-media{
    display:flex;
    margin:10px 0px 0px 6px;
    
}
.social-media #icon{
    width: 30px;
    border: none;
    margin-left: 10px;
}
.social-media h4 a{
    text-decoration: none;
     color: gray;
}
.social-media h4 a:hover{
    color:#6166e7;
}
.social-media h4{
    margin-right: 20px;
    color: gray;
    font-size: 15px;
   
}
.purpal{
    color: rgb(170,107,228);
}
#element{
    color:rgb(170,107,228);
}



.secondsection{
     max-width:80vw;
    margin: auto;
    height: 50vw;

}
main hr{
    background:rgb(170,107,228);
    border: 0;
    height: 1.2px;
    margin: 40px 84px;

}
.secondsection h1{
    font-size: 1.9rem;
    
}
.text-gray{
    color: gray;
}
.box1{
    background: white;
    width: 18vw;
    height: 2px;
    margin: 30px 0;
    display: flex;
}
.box2{
    background: white;
    width: 17vw;
    height: 2px;
    margin: 54px 0;
    display: flex;
}.box3{
    background: white;
    width: 17vw;
    height: 2px;
    margin: 54px 0;
    display: flex;
}.box4{
    background: white;
    width: 17vw;
    height: 2px;
    margin: 54px 0;
    display: flex;
}.box5{
    background: white;
    width: 17vw;
    height: 2px;
    margin: 54px 0;
    display: flex;
}
.vartical{
    background:white;
    width: 1px;
    height: 93px;
    margin: 0px 100px;
}
.vartical-title{
    position: relative;
    top:94px;
    width: 1px;
    
}
.vartical-desc{
    position: relative;
    top: 105px;
    color: gray;
    width: 150px;
    font-size: 9px;

}
footer{
    background-color:#181828;
 
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;    
}
.footer ul {
    list-style: none;
} 
.footer ul a  {
   color: white;
      text-decoration: none;
}
.footer-third ul a {
   color: white;
      text-decoration: none;
}
.footer-forth ul a  {
   color: white;
      text-decoration: none;
}
.footer >div{
    width: 223px;
}
.footer-rights{
    color: gray;
    text-align: center;
    padding: 12px 0;
}

